<form autocomplete="off" onsubmit="event.preventDefault();">
  <textarea name="noteData" placeholder="Notes" style="height: calc(100% - 34px)">{{noteData}}</textarea>
  <button type="submit" name="submit" value="1"><i class="far fa-save"></i> {{localize "PF1.UpdateItem"}}</button>
</form>